#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.app.light {
  background-color: #ffffff;
  color: #000;
}

.app.dark {
  background-color: #121212;
  color: #f5f5f5;
}
.app {
  min-height: 100vh;
  padding: 1rem;
  transition: background-color 0.3s ease, color 0.3s ease;
}
button {
  padding: 0.6rem 1rem;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin-bottom: 1rem;
}
.app.light button {
  background-color: #222;
  color: white;

}
.app.dark {
  background-color: #f5f5f5;
  color: #121212;
}